@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif3;
    list-style: none;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    padding: 10rem 7% 2rem;
    background-color: #22AAA1;
}

header{
    position: fixed;
    width: 100%;
    padding: 1rem 7%;
    align-items: center;
    justify-content: right;
    display: flex;
    flex-direction: row;
    gap: 2%;
    background-color: #22AAA1;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.548);
}

.house_home{
    display: flex;
    font-size: 25px;
}

.house_home:hover{
    border-bottom: 0.8px solid black;
    cursor: pointer;
}

a{
    color: black;
    font-size: 35px;
}

a:hover{
    border-bottom: 0.8px solid black;
    cursor: pointer;
}

.redes{
    display: flex;
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 25px;
    margin-right: auto;
    flex-direction: row;
    gap: 1rem;
}

.home{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #22AAA1;
    flex-direction: row;
}